* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	font-family: Arial, sans-serif;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
	color: #444;
	background-color: #f3f3f3;
	height: 100vh;
	padding: 2rem;
}
nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-items: center;
	padding: 0 2rem;
}
.app {
	/* FOR FADING EFFECT */
	opacity: 0;
	transition: all 1s;
}
.error__message{
	position: relative;
	color: red;
	float: right;
	right: 6rem;
	bottom: 1rem;
	font-size: 1.5rem;
	opacity: 0;
	transition: all 1s;
}
.balance {
	opacity: 0;
}
.balance__label {
	font-size: 2rem;
	font-weight: 500;
	margin-bottom: -0.2rem;
}
.balance__date {
	font-size: 2rem;
	color: #888;
}
.balance__value {
	font-size: 4.5rem;
	font-weight: 400;
}
.welcome {
	font-size: 1.9rem;
	font-weight: 500;
}
.logo {
	height: 5.25rem;
	margin: 2rem 0 0 0;
}
.login {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.login__input {
	border: none;
	padding: 0.5rem 2rem;
	font-size: 1.6rem;
	font-family: inherit;
	font-family: inherit;
	text-align: center;
	width: 12rem;
	border-radius: 10rem;
	margin: 1rem 1rem 0 0;
	color: inherit;
	border: 1px solid #fff;
	transition: all 0.3s;
}
.login__btn {
	border: none;
	background: none;
	font-size: 2.2rem;
	color: inherit;
	cursor: pointer;
	transition: all 0.3s;
}
.login__btn:hover,
.login__btn:focus,
.btn--sort:hover,
.btn--sort:focus {
	outline: none;
	color: #777;
}
.movements {
	grid-row: 2 / span 3;
	background-color: #fff;
	border-radius: 1rem;
	overflow: scroll;
	height: 80%;
}
.movements__row {
	padding: 2.25rem 4rem;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #eee;
}
.movements__type {
	font-size: 1.1rem;
	text-transform: uppercase;
	font-weight: 500;
	color: #fff;
	padding: 0.1rem 1rem;
	border-radius: 10rem;
	margin-right: 2rem;
}
.movements__date {
	font-size: 1.1rem;
	text-transform: uppercase;
	font-weight: 500;
	color: #666;
}
.movements__type--deposit {
	background-image: linear-gradient(to top left, #39b385, #9be15d);
}
.movements__type--withdrawal {
	background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}
.movements__value {
	font-size: 1.7rem;
	margin-left: auto;
}
/* SUMMARY */
.summary {
	grid-row: 5 / 6;
	display: flex;
	flex-direction: column;
	align-items: baseline;
	padding: 0 0.3rem;
	margin-top: 1rem;
}
.summary__label {
	font-size: 1.2rem;
	font-weight: 500;
	text-transform: uppercase;
	margin-right: 0.8rem;
	margin: 2rem 2.5rem 0 0;
}
.summary__value {
	font-size: 2.2rem;
}
.summary__value--in,
.summary__value--interest {
	color: #66c873;
}
.summary__value--out {
	color: #f5465d;
}
.btn--sort {
	margin: 0 0 2rem auto;
	margin-left: auto;
	border: none;
	background: none;
	font-size: 1.3rem;
	font-weight: 500;
	cursor: pointer;
}
/* OPERATIONS */
.operation {
	border-radius: 1rem;
	padding: 3rem 4rem;
	color: #333;
	margin: 0rem 0 5rem 0;
}
.wrap__movements-summary {
	margin: 10rem 0 15rem 0;
	height: 30rem;
}
.operation--transfer {
	background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}
.operation--loan {
	background-image: linear-gradient(to top left, #39b385, #9be15d);
}
.operation--close {
	background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}
h2 {
	margin-bottom: 1.5rem;
	font-size: 1.7rem;
	font-weight: 600;
	color: #333;
}
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.form.form__loan {
	grid-template-columns: 2.5fr 1fr 2.5fr;
}
.form__label--loan {
	grid-row: 2;
}
.form__input {
	width: 100%;
	border: none;
	background-color: rgba(255, 255, 255, 0.4);
	font-family: inherit;
	font-size: 1.5rem;
	text-align: center;
	color: #333;
	padding: 0.3rem 1rem;
	border-radius: 0.7rem;
	transition: all 0.3s;
	margin: 0.8rem 0 0.8rem 0;
}
.form__input:focus {
	outline: none;
	background-color: rgba(255, 255, 255, 0.6);
}
.form__btn{
	border: none;
	background: none;
	font-size: 2.2rem;
	color: inherit;
	cursor: pointer;
	transition: all 0.3s;
}
.logout-timer {
	padding: 0 0.3rem;
	margin-top: 1.9rem;
	text-align: center;
	font-size: 1.50rem;
}
.timer{
	font-weight: 600;
}
.wrap__transfer{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: 0 2rem 0 0;
}
.wrap__amt{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: 0 2rem 0 0;
}
/* LAPTOP SCREEN SIZE */
@media only screen and (min-width: 1024px) {
	/* MAIN */
	nav {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
	.error__message{
		position: relative;
		color: red;
		float: right;
		/* margin: 0 3rem 0 0; */
		right: 23rem;
		bottom: 1rem;
		font-size: 1.5rem;
		opacity: 0;
		transition: all 1s;
	}
	.login {
		display: flex;
		flex-direction: row;
	}
	.app {
		margin: 2rem auto;
		display: flex;
		flex-direction: row;
		width: 100%;
		/* FOR FADING EFFECT */
		opacity: 0;
		transition: all 1s;
	}
	.balance {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		font-size: 2rem;
		opacity: 0;
		transition: all 1s;
	}
	.balance__label {
		font-size: 2rem;
		font-weight: 500;
		margin-bottom: -0.2rem;
	}
	.balance__date {
		font-size: 2rem;
		color: #888;
	}
	.balance__value {
		font-size: 4.5rem;
		font-weight: 400;
	}
	/* MOVEMENTS */
	.movements {
		grid-row: 2 / span 3;
		background-color: #fff;
		border-radius: 1rem;
		overflow: scroll;
		width: 60rem;
		height: 100%;
	}
	.movements__row {
		padding: 2.25rem 4rem;
		display: flex;
		align-items: center;
		border-bottom: 1px solid #eee;
	}
	.movements__type {
		font-size: 1.1rem;
		text-transform: uppercase;
	}
	.summary {
		grid-row: 5 / 6;
		display: flex;
		flex-direction: initial;
		align-items: baseline;
		padding: 0 0.3rem;
		margin-top: 1rem;
		height: 20px;
	}
	.summary__label {
		font-size: 1.2rem;
		font-weight: 500;
		text-transform: uppercase;
		margin: 2rem 0.5rem 0 0;
	}
	.summary__value {
		margin: 0 3rem 0 0;
		font-size: 2.2rem;
	}
	.operation {
		display: flex;
		flex-direction: column;
		border-radius: 1rem;
		padding: 2rem 2rem;
		width: 40rem;
		height: 17rem;
		color: #333;
		margin: 3rem 0 0 0;
	}
	.wrap__operations {
		display: flex;
		flex-direction: column;

	}
	.wrap__movements-summary {
		margin: 0 0 0rem 0;
	}
	.operation--transfer {
		margin: 0 0 0rem 0;
	}
	.wrap__movements-summary {
		margin: 0 10rem 0 20rem;
		height: 55rem;
	}
	.form {
		display: flex;
		flex-direction: row;
	}
	.form__input {
		display: flex;
		flex-direction: column;
		margin: 0.3rem 1rem 0.5rem 1rem;
	}
	.form--transfer{
		display: flex;
	}
	.wrap__transfer{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		margin: 0 2rem 0 0;
	}
	.wrap__amt{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		margin: 0 2rem 0 0;
	}
}
